<a href="https://colab.research.google.com/github/idesiss/ss/blob/main/Ex_Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="ITM">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Lab: Seleção de Dados em Pandas

Referências e Materiais úteis para este Lab:

- [Notas de Aula](https://colab.research.google.com/github/Rogerio-mack/IMT_Ciencia_de_Dados/blob/main/IMT_Pandas_I.ipynb)
- [Pandas User Guide](https://pandas.pydata.org/docs/user_guide/index.html#user-guide)

---

## **CASE Insurance**

Acesse a base de dados [`insurance`](https://github.com/Rogerio-mack/IMT_Ciencia_de_Dados/raw/main/data/insurance.csv) para as questões a seguir.

In [15]:
import pandas as pd
import numpy as np
df = pd.read_csv("https://github.com/idesiss/ss/raw/main/insurance.txt")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

##### Q1. Acesse os dados explore a estrutura básica dos dados de `insurance`.

> * Qual o número de caso de seguro?
> * Quantos atributos são numéricos?
> * Há quantos valores diferentes para região?
> * Qual a maior quantidade de filhos?

In [8]:
# Replace 'data' with your data frame and 'column_name' with the desired column
unique_values = len(df['region'].unique())
print(f"There are {unique_values} distinct values in the column 'column_name'.")

There are 4 distinct values in the column 'column_name'.

In [9]:
# Count the number of numerical attributes
numerical_attributes = df.select_dtypes(include=["int", "float"]).shape[1]

# Print the number of numerical attributes
print(f"Number of numerical attributes: {numerical_attributes}")

Number of numerical attributes: 4

In [13]:
# Obtenha o maior valor da coluna "numeros"
maior_valor = df["children"].max()

# Imprima o maior valor
print(maior_valor)

5

##### Q2. Qual a quantidade de casos por região?

In [16]:
# Get the column values
column_values = df['region'].values

# Count the occurrences of each unique value
unique_values, counts = np.unique(column_values, return_counts=True)

# Print the results
for unique_value, count in zip(unique_values, counts):
    print(f"{unique_value}: {count}")

northeast: 324
northwest: 325
southeast: 364
southwest: 325

In [20]:
len(df)

1338

##### Q3. Qual a média dos pagamentos (charges) efetuados?

In [21]:
# Calculate the mean of the desired column
mean_value = df['charges'].mean()

# Print the mean value
print(f"The mean value of the column 'column_name' is: {mean_value}")

The mean value of the column 'column_name' is: 13270.422265141257

##### Q4. Qual a média dos pagamentos (charges) dos 10 maiores pagamentos efetuados?

In [27]:
# Sort the dataframe by the desired column in descending order
df_sorted = df.sort_values(by='charges', ascending=False)

# Extract the top 10 rows
top_10 = df_sorted.iloc[:10, :]

# Calculate the mean of the desired column
average = top_10['charges'].mean()

print(average)

63770.42801

##### Q5. Calcule a distância interquartis dos pagamentos.

**Dica** Empregue a função `quantile()` do `Pandas` e use IQR = Q3 - Q1.

In [28]:
# Calculate the first quartile
q1 = df['charges'].quantile(0.25)

# Calculate the third quartile
q3 = df['charges'].quantile(0.75)

# Calculate the interquartile range
iqr = q3 - q1

# Print the interquartile range
print(iqr)

11899.625365

##### Q6. Empregue o valor IQR da questão anterior para verificar se existem *outliers* dos pagamentos.

**Dica** *outliers* são dados fora do intervalo $[Q1 - 1.5 IQR, Q3 + 1.5 IQR]$

In [33]:
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
outliers = df[ (df['charges'] < lower_bound) | (df['charges'] > upper_bound) ]
outliers['charges'].describe()

count      139.000000
mean     42103.947206
std       5582.168107
min      34617.840650
25%      37786.149950
50%      40974.164900
75%      45786.706425
max      63770.428010
Name: charges, dtype: float64

##### Q7. Qual a média dos pagamentos efetuados para os 10 casos com menor idade dos segurados? Aqui, empregue a função `nsmallest()`.

In [34]:
# Get the 10 smallest values in 'col1' and their corresponding values in 'col2'
smallest_values = df.nsmallest(10, 'age')['charges']

# Calculate the average of the corresponding values in 'col2'
average = smallest_values.mean()

# Print the average
print(average)

11968.65424

##### Q8. Revise a questão anterior. De fato calculamos a média de *todos* os seguros de indivíduos com idade entre as 10 menores idades?

**Dica** Verifique quantos indivíduos há com a menor idade

In [41]:
df['age'].nsmallest(10)

1      18
22     18
31     18
46     18
50     18
57     18
102    18
121    18
157    18
161    18
Name: age, dtype: int64